
__pycache__/
*.pyc
*.pyo
*.pyd


venv/
env/


*.db
*.sqlite3

.env
*.env


static/avatars/


*.log


*.swp
*.swo
.DS_Store
*.bak


docker-compose.override.yml


migrations/versions/__pycache__/


# Alembic
alembic/*.pyc
alembic/__pycache__/
alembic/versions/*.pyc
alembic/versions/__pycache__/
alembic/versions/*.sqlite


